@{
    ViewBag.Title = "Administrator";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<style>
    /* Tùy chỉnh kiểu dáng cho menu */
    ul.menu {
        list-style: none;
        padding: 0;
        text-align: center;
    }

        ul.menu li {
            display: inline-block;
            margin: 10px;
        }

            ul.menu li a {
                text-decoration: none;
                padding: 10px 20px;
                background-color: #3498db;
                color: #fff;
                border-radius: 5px;
            }

                ul.menu li a:hover {
                    background-color: #2980b9;
                }
</style>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tables</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Đây là trang chủ
                    </div>

                    <div class="panel-body">
                        <ul class="menu">
                            <li>@Html.ActionLink("Quản lý sản phẩm", "Index", "products")</li>
                            <li>@Html.ActionLink("Quản lý người dùng", "Index", "users")</li>
                            <li>@Html.ActionLink("Quản lý đơn hàng", "Index", "orders")</li>
                        </ul>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
