
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}

<section class="checkout spad">
    <div class="container">
        <span class="alert-success" style="color:green;">Đặt hàng thành công!</span>
    </div>
</section>

